<ion-header>
    <ion-toolbar color="primary">
      <ion-title center text-center>
          <ion-icon name="camera"></ion-icon>
        Smile!!!!
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
           <ion-item> <ion-img src="/assets/img/avion.jpg"></ion-img></ion-item>
           <ion-card-subtitle>Plane across the city</ion-card-subtitle>
           <ion-card-title>look at the sky,it´s Amazing</ion-card-title>
           <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <ion-toggle color="danger"  [(ngModel)]="pepperoni" checked="false"></ion-toggle>
                  <div *ngIf="pepperoni">1,Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>8 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row>
        
          </ion-card-content>
      </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-item> <ion-img src="/assets/img/bgt.jpg"></ion-img></ion-item>
            <ion-card-subtitle>   South American Athens  </ion-card-subtitle>
            <ion-card-title> BOG   </ion-card-title>
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <ion-toggle color="danger"  [(ngModel)]="pepperoni1" ></ion-toggle>
                  <div *ngIf="pepperoni1">1,Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>3 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  12h ago
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card-content>
      </ion-card>

    <ion-card>
        <ion-card-content>
            <ion-item> <ion-img src="/assets/img/ind.jpg"></ion-img></ion-item>
            <ion-card-subtitle>  Painting soul of the runaways.   </ion-card-subtitle>
            <ion-card-title>  Highway  </ion-card-title>
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <ion-toggle color="danger"  [(ngModel)]="pepperoni2" ></ion-toggle>
                  <div *ngIf="pepperoni2">1,Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>3 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  13h ago
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
              <ion-item> <ion-img src="/assets/img/ny.jpg"></ion-img></ion-item>
              <ion-card-subtitle>  You don't have only just one way, pick up your indesitions.   </ion-card-subtitle>
              <ion-card-title>  We never till the end - NY.  </ion-card-title>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <ion-toggle color="danger"  [(ngModel)]="pepperoni3" ></ion-toggle>
                    <div *ngIf="pepperoni3">1,Likes</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>3 Comments</div>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <ion-note>
                    12h ago
                  </ion-note>
                </ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-item> <ion-img src="/assets/img/paris.jpg"></ion-img></ion-item>
                <ion-card-subtitle>   la ville de l'amour a sa reine  </ion-card-subtitle>
                <ion-card-title>  Eiffel  </ion-card-title>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left clear small>
                      <ion-icon name="thumbs-up"></ion-icon>
                      <ion-toggle color="danger"  [(ngModel)]="pepperoni4" ></ion-toggle>
                      <div *ngIf="pepperoni4">1,Likes</div>
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-left clear small>
                      <ion-icon name="text"></ion-icon>
                      <div>3 Comments</div>
                    </button>
                  </ion-col>
                  <ion-col center text-center>
                    <ion-note>
                      12h ago
                    </ion-note>
                  </ion-col>
                </ion-row>
              </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-content>
                  <ion-item> <ion-img src="/assets/img/pies.jpg"></ion-img></ion-item>
                  <ion-card-subtitle>  it follows  </ion-card-subtitle>
                  <ion-card-title>  AKA invisible Man   </ion-card-title>
                  <ion-row>
                    <ion-col>
                      <button ion-button icon-left clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <ion-toggle color="danger"  [(ngModel)]="pepperoni5" ></ion-toggle>
                        <div *ngIf="pepperoni5">1,Likes</div>
                      </button>
                    </ion-col>
                    <ion-col>
                      <button ion-button icon-left clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>3 Comments</div>
                      </button>
                    </ion-col>
                    <ion-col center text-center>
                      <ion-note>
                        12h ago
                      </ion-note>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content>
                    <ion-item> <ion-img src="/assets/img/sky.jpg"></ion-img></ion-item>
                    <ion-card-subtitle>where is it? Is this the same that I thought?</ion-card-subtitle>
                    <ion-card-title>land of forgiveness</ion-card-title>
                    <ion-row>
                      <ion-col>
                        <button ion-button icon-left clear small>
                          <ion-icon name="thumbs-up"></ion-icon>
                          <ion-toggle color="danger"  [(ngModel)]="pepperoni6" ></ion-toggle>
                          <div *ngIf="pepperoni6">1,Likes</div>
                        </button>
                      </ion-col>
                      <ion-col>
                        <button ion-button icon-left clear small>
                          <ion-icon name="text"></ion-icon>
                          <div>3 Comments</div>
                        </button>
                      </ion-col>
                      <ion-col center text-center>
                        <ion-note>
                          12h ago
                        </ion-note>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
              </ion-card>
              <ion-card>
                  <ion-card-content>
                      <ion-item> <ion-img src="/assets/img/stgo.jpg"></ion-img></ion-item>
                      <ion-card-subtitle>heart of trees</ion-card-subtitle>
                      <ion-card-title>veins of concrete</ion-card-title>
                      <ion-row>
                        <ion-col>
                          <button ion-button icon-left clear small>
                            <ion-icon name="thumbs-up"></ion-icon>
                            <ion-toggle color="danger"  [(ngModel)]="pepperoni7" ></ion-toggle>
                            <div *ngIf="pepperoni7">1,Likes</div>
                          </button>
                        </ion-col>
                        <ion-col>
                          <button ion-button icon-left clear small>
                            <ion-icon name="text"></ion-icon>
                            <div>3 Comments</div>
                          </button>
                        </ion-col>
                        <ion-col center text-center>
                          <ion-note>
                            12h ago
                          </ion-note>
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-content>
                        <ion-item> <ion-img src="/assets/img/sun.jpg"></ion-img></ion-item>
                        <ion-card-subtitle>All kinds of magic, it's hard to believe</ion-card-subtitle>
                        <ion-card-title>Oh, what a world, and then there is you</ion-card-title>
                        <ion-row>
                          <ion-col>
                            <button ion-button icon-left clear small>
                              <ion-icon name="thumbs-up"></ion-icon>
                              <ion-toggle color="danger"  [(ngModel)]="pepperoni8" ></ion-toggle>
                              <div *ngIf="pepperoni8">1,Likes</div>
                            </button>
                          </ion-col>
                          <ion-col>
                            <button ion-button icon-left clear small>
                              <ion-icon name="text"></ion-icon>
                              <div>3 Comments</div>
                            </button>
                          </ion-col>
                          <ion-col center text-center>
                            <ion-note>
                              12h ago
                            </ion-note>
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                  </ion-card>
</ion-content>


