<ion-header>
  <ion-toolbar color="primary">
    <ion-title center text-center>
        <ion-icon name="camera"></ion-icon>
      Smile!!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center text-center>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/feliz.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>
            <ion-icon name="happy"></ion-icon>
          Smile!!!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Bienvenido a la nueva app</ion-label>
    </ion-card-content>
  </ion-card>
  
</ion-content>
