<ion-header>
    <ion-toolbar color="primary">
      <ion-title center text-center>
          <ion-icon name="camera"></ion-icon>
        encuesta
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <h1>Escoge tus tendencias</h1>
    <ion-item>
      <ion-label> Camp </ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> New Age </ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> Minimalista </ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> Gotico </ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <h1>Colores de moda </h1>
    <ion-item>
      <ion-label> Calidos </ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> Frios </ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> Metalicos </ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> Shimmer </ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <h1>Fotografia Favorita </h1>
    <ion-item>
      <ion-label>Fotografia Objeiva </ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Fotografia Artistica</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Fotografia Documental</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Foto de representacion</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <h1>Aplicaciones Favoritas </h1>
    <ion-item>
      <ion-label>Tumblr </ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Instagram </ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pinterest</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>PicArts</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <h1>Marca de Camara Favorita </h1>
    <ion-item>
      <ion-label>Cannon</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Polaroid</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Zony</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Go Pro</ion-label>
      <ion-checkbox checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-button color="warning"
      (click)="VerAlert1()"> Enviar</ion-button>
    </ion-item>
  
  </ion-content>